.footer {
  width: 100%;
  display: grid;
  justify-content: center;
}

.links {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ul {
  list-style-type: none;
  display: flex;
  float: none;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.link {
  margin-top: 1rem;
  width: auto;
  color: #000;
  text-decoration: none;
  padding: 0.25rem 1rem;
}
