#org-panel {
    width: 20rem;
}
#org-panel h2 {
    border-bottom: 1px solid #ccc;
}
#member {
    margin-top: 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
