.footer {
  width: 100%;
  height: auto;
  justify-content: center;
}

.links {
  height: auto;
  width: 100%;
  justify-content: center;
}

.ul {
  list-style-type: none;
  display: flex;
  float: none;
  flex-wrap: nowrap;
  gap: auto;
  margin: 1rem 0;
}

.li {
  margin-top: 1rem;
  flex-grow: 1;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

.link {
  margin-top: 1rem;
  width: auto;
  color: #000;
  text-decoration: none;
  padding: 0.25rem 1rem;
  white-space: nowrap;
}
